.background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /*top: -100px;*/
    right: -25%;
    top: calc((10px + (90 + 90 * 0.7) * ((100vw - 580px) / 1920)) * -1);
    background: #FA5D03;
    box-shadow: 0px 0px 40px rgba(122, 122, 122, 0.178);
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    flex-direction: column;
}

.background__picture {
    margin-left: -25%;
    width: 45%;
    height: 45%;
    border-radius: 50%;
    overflow: hidden;
    /*border: 23px solid #FFF;*/
    box-shadow: 0px 0px 40px rgba(122, 122, 122, 0.178);
    border: calc(5px + (18 + 18 * 0.8) * ((100vw - 580px) / 1920)) solid #FFFFFF;
}

.background__picture img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.background__block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    transform: translate(-20%, -75px);
}

.background__block-message {
    position: absolute;
    bottom: 130%;
    left: -50%;
    display: block;
    background: #F5FAFF;
    border-radius: 11px;
    padding: 6px 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #020202;
    height: fit-content;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    z-index: 5;
    width: max-content;
    font-size: calc(7.5px + (4.5 + 4.5 * 0.7) * ((100vw - 375px) / 1920));

}

.background__block-message:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    right: 22px;
    background: #F5FAFF;
    bottom: -5px;
    transform: rotate(45deg);
    z-index: 3;
}

.background__block-message > span {
    color: #FA5D03;
}

.block__chat {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 20px;
    position: relative;
    left: 100px;
    box-shadow: 0 0 30px rgba(86, 86, 86, 0.25);
}

.block__chat-num {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #F5FAFF;
    background: #020202;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__vk,
.block__phone {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020202;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 5px;
}

.block__vk {
    top: 65px;
    left: 65px;
}

.block__phone {
    top: 90px;
    left: 100px;
}

.description {
    transform: translateY(10%);
}

.auditorium__title {
    white-space: break-spaces;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: calc(16px + (22 + 22 * 0.7) * ((100vw - 375px) / 1920));
    color: #020202;
}

.auditorium__info {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: calc(10px + (16 + 16 * 0.7) * ((100vw - 375px) / 1920));
    color: #020202;
    max-width: 500px;
    margin-top: 40px;
}

.auditorium__detail {
    display: flex;
    margin-top: 50px;
}

.auditorium__detail-btn {
    background: #FA5D03;
    border: 2px solid #F5FAFF;
    box-shadow: 0px 0px 40px rgba(122, 122, 122, 0.178);
    border-radius: 190px;
    color: #FFF;
    font-family: 'Comfortaa';
    font-weight: 500;
    font-size: calc(12px + (10 + 10 * 0.7) * ((100vw - 375px) / 1920));
    line-height: 133.8%;
    text-decoration: none;
    max-width: 215px;
    min-width: 136px;
    width: 26vw;
    padding: 2% 0;
    max-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auditorium__detail-info {
    margin-left: 30px;
}

.info__text {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
    color: #020202;
    max-width: 280px;
    font-size: calc(10px + (8 + 8 * 0.7) * ((100vw - 375px) / 1920));
}

.info__title {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    font-size: calc(16px + (12 + 12 * 0.7) * ((100vw - 375px) / 1920));
    color: #FA5D03;
    margin-top: -7px;
}

@media screen and (max-width: 992px) {
    .auditorium__info {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .background__block {
        /*position: absolute;*/
        /*left: 30px;*/
        /*transform: translate(3.2in, 4.2in);*/
        /*height: auto;*/
        position: fixed;
        left: 30px;
        height: auto;
        right: 20px;
        bottom: 70px;
        display: flex;
        justify-content: flex-end;
    }

    .block__chat {
        position: static;
        width: 51px;
        height: 51px;
    }

    .block__chat > img {
        width: 23px;
    }

    .block__vk {
        /*top: 42px;*/
        /*left: -49px;*/
        top: auto;
        left: auto;
        right: 40px;
        bottom: -35px;
    }

    .block__phone {
        /*top: 55px;*/
        /*left: -11px;*/
        top: auto;
        left: auto;
        right: 63px;
        bottom: -1px;
    }

    .block__chat-num {
        width: 15px;
        height: 15px;
        top: -4px;
        right: 2px;
        font-size: 6px;
    }

    .background__block-message {
        bottom: 100%;
        right: 0;
    }
}


@media screen and (max-width: 576px) {
    .background {
        top: -53vw;
        right: -1.3in;
        width: 143.89%;
        height: 121vw;
        max-width: 600px;
        max-height: 600px;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-content: flex-end;
        justify-content: flex-start;
        padding-bottom: 2%;
        padding-right: 5vw;
    }

    .background__picture {
        margin: 0;
        width: 37vw;
        max-width: 174px;
        min-width: 140px;
        height: fit-content;
        border: 7px solid #FFF;
        transform: translateX(-108%);
    }


    .description {
        transform: translateY(100%);
        max-width: calc(100vw - 17%);
    }

    .auditorium__info {
        width: 68%;
        margin-top: 0px;
    }

    .auditorium__detail {
        flex-direction: column;
        margin-top: 7px;
    }

    .auditorium__detail-info {
        margin: 8px 0 0 0;
    }
}
